/.gitattributes text eol=lf
*.go text eol=lf
*.sh text eol=lf
/.codex* export-ignore
/User/ export-ignore
/bin/ export-ignore
/data/ export-ignore
/deploy/.env* export-ignore
/deploy/data/ export-ignore
/deploy/tls/ export-ignore
/.easy-node-logs/ export-ignore
