DATA_PLANE_MODE=json
ENTRY_REGION=us-east
EXIT_REGION=us-east
ENTRY_COUNTRY_CODE=US
EXIT_COUNTRY_CODE=US
DIRECTORY_URL=http://127.0.0.1:8081
DIRECTORY_MIN_OPERATORS=1
ENTRY_DIRECTORY_MIN_OPERATORS=1
CLIENT_DIRECTORY_MIN_OPERATORS=1
DIRECTORY_PEER_MIN_OPERATORS=1
DIRECTORY_PEER_DISCOVERY_MIN_VOTES=1
DIRECTORY_ADJUDICATION_META_MIN_VOTES=1
DIRECTORY_DISPUTE_MAX_TTL_SEC=604800
DIRECTORY_APPEAL_MAX_TTL_SEC=604800
DIRECTORY_KEY_ROTATE_SEC=0
DIRECTORY_KEY_HISTORY=3
DIRECTORY_ISSUER_MIN_OPERATORS=1
ISSUER_URL=http://127.0.0.1:8082
ISSUER_TOKEN_TTL_SEC=600
EXIT_TOKEN_PROOF_REPLAY_GUARD=0
CLIENT_REQUIRE_DISTINCT_OPERATORS=0
CLIENT_STICKY_PAIR_SEC=0
CLIENT_SESSION_REUSE=0
CLIENT_SESSION_REFRESH_LEAD_SEC=20
CLIENT_WG_ALLOWED_IPS=0.0.0.0/0
CLIENT_WG_INSTALL_ROUTE=0
CLIENT_OPAQUE_SESSION_SEC=0
CLIENT_OPAQUE_INITIAL_UPLINK_TIMEOUT_MS=1500
ENTRY_CLIENT_REBIND_SEC=0
EXIT_PEER_REBIND_SEC=0
DIRECTORY_PROVIDER_ISSUER_URLS=http://127.0.0.1:8082
DIRECTORY_PROVIDER_RELAY_MAX_TTL_SEC=300
