DATA_PLANE_MODE=json
ENTRY_REGION=us-east
EXIT_REGION=us-east
ENTRY_COUNTRY_CODE=US
EXIT_COUNTRY_CODE=US
DIRECTORY_URL=http://127.0.0.1:8081
DIRECTORY_MIN_OPERATORS=1
ENTRY_DIRECTORY_MIN_OPERATORS=1
CLIENT_DIRECTORY_MIN_OPERATORS=1
ISSUER_URL=http://127.0.0.1:8082
